/* purgecss start ignore */
@import 'tailwindcss/base';
/* purgecss end ignore */

/* Custom Global Styles */
@font-face {
  font-family: 'Anonymous Pro';
  font-style: bold;
  font-weight: 700;
  src: local('Anonymous Pro Bold'), local('AnonymousPro-Bold'),
    url('/fonts/anonymous-pro-v13-latin-700.woff2') format('woff2'),
    url('/fonts/anonymous-pro-v13-latin-700.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  src: local('Overpass Regular'), local('Overpass-Regular'),
    url('/fonts/Overpass-Regular.ttf') format('ttf');
  font-display: swap;
}

body {
  @apply font-overpass;
  @apply bg-light-shade;
}

h1,
h2,
h3 {
  @apply font-heading;
  @apply font-bold;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
